<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8">
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">

                <tr>
                    <th>Comprador</th>
                    <th th:text="${factura.cliente.getNombre()} + ' ' + ${factura.cliente.getApellido()}"></th>
                </tr>
                <tr>
                    <th>id</th>
                    <th th:text="${factura.id}"></th>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td th:text="${factura.descripcion}"></td>
                </tr>
                <tr>
                    <td>Observacion</td>
                    <td th:text="${factura.observacion}"></td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td th:text="${factura.createAt}"></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td th:text="${factura.total}"></td>
                </tr>

                </thead>

            </table>


            <table th:if="${not #lists.isEmpty(factura.items)}"
                   class="table table-bordered table-striped my-4">
                <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio por unidad</th>
                    <th>Precio total</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${factura.items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.producto.getNombre()}"></td>
                    <td th:text="${item.cantidad}"></td>
                    <td th:text="${item.getPrecioCompra()}"></td>
                    <td th:text="${item.calcularPrecioCompra()}"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>