<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8">
<body>

<header th:replace="layout/layout :: header"></header>


<div class="container">
    <h1
            class="text-secondary border border-sucess border-top-0 border-left-0 border-right-0"
            th:text="${titulo}"></h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>Descripcion</th>
            <th>Observacion</th>
            <th>Fecha</th>
            <th>Total</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="factest: ${facturas}">
            <td><a class="btn btn-primary btn-xs"
                   th:href="@{/detalleFactura/} + ${factest.id}" th:text="${factest.id}"></a></td>
            <td th:text="${factest.descripcion}"></td>
            <td th:text="${factest.observacion}"></td>
            <td th:text="${factest.createAt}"></td>
            <td th:text="${factest.total}"></td>


        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>