<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8">

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <form th:action="@{/productoForm}" th:object="${producto}"
                  method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" th:field="*{nombre}"
                                   class="form-control" required/></td>
                    </tr>
                    <tr>
                        <td>precio</td>
                        <td><input type="text" th:field="*{precio}"
                                   class="form-control" required/></td>
                    </tr>
                    <tr>
                        <td>createAt</td>
                        <td><input type="text" data-provide="datepicker" th:field="*{createAt}"
                                   class="form-control" required/></td>
                    </tr>

                    <tr>
                        <td><input type="submit" th:value="${titulo}"
                                   class="form-control"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>