<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8">
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">
    <h1
            class="text-secondary border border-sucess border-top-0 border-left-0 border-right-0"
            th:text="${titulo}"></h1>
    <p>

        <a th:href="@{/productoForm}" th:text="${tituloCrear}" class="btn btn-primary btn-xs btn-xs"></a>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>idProducto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>create_at</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto: ${productos}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.createAt}"></td>
            <td><a class="btn btn-primary btx-xs" th:href="@{/productoForm/} + ${producto.id}" th:text="'Editar'"></a>
            </td>
            <td><a class="btn btn-danger btx-xs" th:href="@{/eliminarProducto/} + ${producto.id}" th:text="'Eliminar'"
                   onclick="return confirm('Está seguro de eliminar')"></a></td>

        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>